header {
    position: fixed;
    border: 2px solid whitesmoke;
    height: 60px;
    /* width: 100vw; */
    /* z-index: 1; */
    background-color: black;
    width: 100vw;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke
}

nav ul li a {
    text-shadow: 2px 2px 2px;      
    padding: 86px;
    color: white;
    font-style: normal;
}
li{
    list-style: none;
}


ul {
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
}

.searchbar {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

footer {
    height: 20px;
    background-color: black;
    color: whitesmoke;
}

.center {
    text-align: center;
}

input {
    border-radius: 1%;
    width: 300px;
}

a:hover {
    color: darkgrey;
    font-weight: bolder;
    text-decoration: underline;
}

.searchsymbol {
    cursor: pointer;
}

.container {
    overflow: hidden;
    color: white;
    background-size: cover;
    background-image: url(gym.jpg);
    min-height: calc(100vh - 68px - 20px);
}

h3 {
    line-height:40 px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

h1{
        text-align: center;
        font-weight: bold;
        line-height: 80px;
}
pre{
    font-style: italic;
    line-height: 2;
    font-size: 20px;
    margin: 50px;
}
.btn{
    animation: button 1s ease-in infinite;

    font-weight: bold;
    border: 2px solid black;
    color: black;
    background-color: yellow;
    padding: 2px 37px;
  margin: 0px 170px;
}
.btn:hover{
    color: white;
    background-color: grey;
}

.form h1{
    color: black;
    background-color: grey;
}
.form p{
    font-size: 24px;
        text-align: cneter;
        text-align: center;
        font-style: oblique;
        color: black;
        background: rgb(251, 255, 0);
}
.form{
    color: white;
    background-color: black;
}
form{
    font-style: italic;
    font-size: 25px;
    padding: 0px 520px;
}
.submitbutton{
    border: 2px solid black;
    background-color: yellow;
    color: black;
}
.submitbutton:hover{
    color: white;
    background-color: grey;

}

@keyframes button {
    0%{
        border: 1px solid black;
    }
    100%{
        color: white;
    background-color: rgb(65, 63, 63);
        
    }
    
}